h1 {
  text-align: center;
}
app-listagem {
  text-align: center;
}
div {
  border: 1.5px solid purple;
  border-radius: 20px;
  width: 300px;
  padding: 25px;
  background-color: antiquewhite;
  margin: 130px auto;
}
