h1 {
  text-align: center;
}
app-listagem {
  text-align: center;
}
div {
   border: 1.5px solid purple;
  border-radius: 20px;
  width: 300px;
  padding: 25px;
  background-color: antiquewhite;
  margin: 20px auto;
}

.temporario{
  color:rgb(240, 14, 14);
}

.nao-temporario{
  color: green;
}
